[submodule "RTOS1_15CO"]
	path = RTOS1_15CO
	url = git@github.com:mrds90/RTOS1_15CO.git
[submodule "ArquitecturaDeMicroprocesadores"]
	path = ArquitecturaDeMicroprocesadores
	url = git@github.com:mrds90/ArquitecturaDeMicroprocesadores.git
[submodule "ADS1115_ControlTemp"]
	path = ADS1115_ControlTemp
	url = git@github.com:mrds90/ADS1115_ControlTemp.git
[submodule "PdM_TPFinal"]
	path = PdM_TPFinal
	url = git@github.com:mrds90/PdM_TPFinal.git
